<!DOCTYPE html>
<html>
<head>
  <title>Taggiefy</title>
  <%= stylesheet_link_tag    "taggiefy/application", media: "all" %>
  <%= javascript_include_tag "taggiefy/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
